* {
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    /* line-height: 1.5; */
    /* background-color: #3d3a4b; */
}

@font-face {
    font-family: 'Gang of Three';
    font-style: normal;
    font-weight: normal;
    src: local('gangOfThreeFont'), url('gangOfThreeFont/go3v2.woff') format('woff');
}

h1 {
    color: #fe3c3a;
    font-family: 'Gang of Three';
    font-size: 10em;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 50%;
    line-height: 1.1;
}

h2 {
    font-family: "Montserrat", sans-serif;
    color: #dafd54;
    margin: 15px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #fe3c3a;
}

p {
    font-family: "Montserrat", sans-serif;
    color: #b0b0b0;
}

a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #b0b0b0;
}

a:hover {
    color: #fe3c3a;
}

.nav {
    padding: 20px 40px 0px 40px;
    background-color: #3d3a4b;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

span {
    color: #008b5c;
}

.main {
    background-color: #3d3a4b;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo {
    height: 150px;
    width: 150px;
    margin-top: 40px;
}

.address {
    padding: 20px;
}

.menu-link {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.icon1 {
    height: 60px;
    margin-bottom: 10px;
}

.icon2 {
    height: 60px;
    margin-top: 10px;
}

.reserve-form {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

label {
    font-family: "Montserrat", sans-serif;
    color: #b0b0b0;
    padding: 0.3rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.form-input,
.input-value {
    color: #008b5c;
    margin: 10px;
    padding: 4px;
    background-color: #3d3a4b;
    border: 2px solid #008b5c;
    width: 14rem;
    height: 2.4rem;
}

::placeholder {
    color: #008b5c;
    padding: 4px;
    background-color: #3d3a4b;
}


button {
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    width: 14rem;
    height: 2.35rem;
    border: 2px solid #008b5c;
    font-size: 1rem;
    background-color: #008b5c;
    cursor: pointer;
    color: #b0b0b0;
    box-shadow: 0 0 5px rgba(76, 76, 76, 0.75);
}

button:hover {
    background-color: #b0b0b0;
    color: #008b5c;
    border-color: #b0b0b0;
}

.reserve-button {
    margin-top: 25px;
}

.sign-up {
    margin-top: 40px;
}

.subscribe-button {
    margin-top: 2px;
}

.email-input {
    background: transparent;
    width: 14rem;
    height: 2.4rem;
    font-size: 0.9rem;
    border: 2px solid #008b5c;
    padding: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    padding-top: 100px;
}

.modal-content {
    background-color: #fe3c3a;
    margin: 15% auto;
    padding: 0;
    border: 1px solid #dafd54;
    width: 80%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: #008b5c;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer {
    height: 40px;
}

.footer>p {
    padding-top: 40px;
    padding-bottom: 20px;
    color: #008b5c;
    background-color: #3d3a4b;
    text-align: center;
}

.grid-wrapper {
    margin: 40px;
}

.menu-grid {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.2rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/* The width is 100%, when the viewport is 800px or smaller */
@media screen and (max-width: 800px) {
    h1 {
        font-size: 4em;
        text-align: center;
        margin: 0;
    }

    .reserve-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-input {
        appearance: none;
    }

    .email-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
}